* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: "Poppins", sans-serif;
  color: #fff;
}

main {
  min-height: 100vh;
  padding: 32px;
}

.content {
  opacity: 0;
  transition: opacity 1.5s ease-in;
}

.content.animated {
  opacity: 1;
}

header {
  flex-direction: column;
  margin-bottom: 48px;
}

header,
.list-container,
.list-item a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-wrapper {
  width: 150px;
  height: 150px;
  border: 1px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: rgb(28 32 93 / 24%) 0px 2px 8px 0px;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.badge {
  display: inline-block;
  margin-top: 12px;
  padding: 4px 8px;
  border: 1px solid #fffa;
  border-radius: 16px;
  background-color: #000a;

  font-size: 12px;
  color: #fff;

  backdrop-filter: blur(10px) saturate(160%) contrast(180%);
  -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%);
}

.list-container {
  width: 100%;
  max-width: 350px;
  flex-direction: column;
  margin: auto;
  list-style-type: none;
}

.list-item {
  width: 100%;
  height: 56px;
  margin-top: 16px;
  border-radius: 50px;
  box-shadow: rgb(28 32 93 / 24%) 0px 2px 8px 0px;
  background-color: #fffa;
  backdrop-filter: blur(10px) saturate(160%) contrast(180%);
  -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%);
}

.list-item a {
  width: 100%;
  height: 100%;
  gap: 8px;
  font-size: 14px;
  text-decoration: none;
  color: #000;
}
